*{
    margin: 0px;
    padding: 0px;

}
.menu-container{
    background: #3e3b3b;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu{
    display: flex;
    font-size: 60px;
    font-style: unset;
}
.logo-photo{
    width: 900px;
    padding: 20px;
}
.item{
    margin: 40px;
    padding: 20px;
    cursor: pointer;
}
.item:hover{
    color: rgb(6, 6, 6);
}
.banner-img{
    width: 1600px;
}
.banner-container{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    align-items: center;
    /* border: 10px solid; */
    background-image: url("./image/bg.png"), 
    linear-gradient(45deg,#151515,#c4b7b7);
}

.titel{
    font-size: 150px;
    font-weight: bold;
}
.descrip{
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn{
    padding: 50px 50px;
    background-color: red;
    color: white;
    font-size: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    color: black;
    /* background-color: black; */
}