*{
    margin: 0px;
    padding: 0px;

}
.menu-container{
    background: #3e3b3b;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu{
    display: flex;
    font-size: 60px;
    font-style: unset;
}
.logo-photo{
    width: 900px;
    padding: 20px;
}
.item{
    margin: 40px;
    padding: 20px;
    cursor: pointer;
}
.item:hover{
    color: rgb(6, 6, 6);
}
.banner-img{
    width: 1600px;
}
.banner-container{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    align-items: center;
    /* border: 10px solid; */
    background-image: url("./image/bg.png"), 
    linear-gradient(45deg,#151515,#c4b7b7);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.titel{
    font-size: 150px;
    font-weight: bold;
}
.descrip{
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn{
    padding: 50px 50px;
    background-color: red;
    color: white;
    font-size: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    color: black;
    /* background-color: black; */
}

.about-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    /* padding: 50px; */
    /* margin: 100px; */
}
.btn2{
    padding: 30px 50px;
    background-color: red;
    color: white;
    font-size: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn2:hover{
    color: black;
    /* background-color: black; */
}
.tittle2{
    text-align: center;
    font-size: 140px;
    padding-top: 50px;
}
.tanha{
    font-size: 80px;
    font-weight: bold;
}
.ttn{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-info{
    padding: 30px;
    margin: 90px;
}
.service-cont{
    display: flex;
    justify-content: space-around;
    padding: 120px;
}
.box{
    width: 800px;height: 850px;
    box-shadow: 50px 50px 80px grey;
    background-color: rosybrown;
    text-align: center;
    padding: 90px;
    color: white;
}
.icon{
    width: 300px;
}
.box-btn2{
    padding: 30px 50px;
    background-color: grey;
    font-size: 50px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.tittle3{
    text-align: center;
    font-size: 90px;
    padding-top: 0px;
}
.box-word{
    font-size: 65px;
    margin-top: 30px;
    margin-bottom: 50px;
}